.flexcontainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.img {
  /* filter: grayscale(100%) brightness(2); */
  filter: /*hue-rotate(200deg)*/ drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  max-height: 50vh;
  animation: moveBug 10s ease-in-out infinite forwards;
}

.main {
  align-items: center;
  display: flex;
  filter: blur(0);
  flex-grow: 1;
  justify-content: space-around;
  position: relative;
  width: var(--max-content-width);
  z-index: 0;
}

@media (max-width: 1200px) {
  .flexcontainer {
    justify-content: center;
  }

  .img {
    display: none;
  }

  .main {
    width: 100%;
    padding: 2rem;
  }
}

/* Animation to gently move the bug (insect) around */
@keyframes moveBug {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -6px) rotate(-3deg);
  }
  20% {
    transform: translate(-9px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(9px, 6px) rotate(0deg);
  }
  40% {
    transform: translate(3px, -3px) rotate(3deg);
  }
  50% {
    transform: translate(-3px, 6px) rotate(-3deg);
  }
  60% {
    transform: translate(-9px, 3px) rotate(0deg);
  }
  70% {
    transform: translate(9px, 3px) rotate(-3deg);
  }
  80% {
    transform: translate(-3px, -3px) rotate(3deg);
  }
  90% {
    transform: translate(3px, 6px) rotate(0deg);
  }
  100% {
    transform: translate(3px, 3px) rotate(0deg);
  }
}
