.form {
  align-items: center;
  background-color: #2d3034;
  border-radius: 1rem;
  /* box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.8); */
  box-shadow: 0 0 10rem 0rem rgba(0, 0, 0, 0.75);
  cursor: auto;
  display: flex;
  flex-direction: column;
  /* height: 30rem; */
  justify-content: space-between;
  padding: 6rem 9rem;
  /* width: 30rem; */
  width: 100%;
  margin: 2rem;
  max-width: 45rem;

  position: relative;
}

.form,
.form * {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.form.hide,
.form.hide * {
  opacity: 0;
}

.form__heading,
.form__label {
  color: white;
  font-family: "Secular One", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.form__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form__label {
  align-self: flex-start;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.form__icon--bug {
  color: var(--first-gradient-colour);
  font-size: 4rem;
  margin-bottom: 2rem;
}

.form__icon--close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.form input[type="text"],
.form select {
  background-color: inherit;
  /* border: #343638 0.1rem solid; */
  border: #444 0.1rem solid;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: white;
  font-family: "Lato", sans-serif;
  padding: 1rem;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
}

.form input:focus,
.form select:focus {
  border-color: white;
}

/* Only show invalid border colour if not focused and placeholder not shown */
.form input[type="text"]:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--danger-colour-1);
}
