.table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  width: 100%;
}

.table__cell {
  font-size: 1.8rem;
  padding: 1.5rem;
  width: 33%;
  z-index: 1; /* required for button stacking context */
}

.table__cell:first-of-type {
  border-radius: var(--table-border-radius) 0 0 var(--table-border-radius);
}

.table__cell:last-of-type {
  border-radius: 0 var(--table-border-radius) var(--table-border-radius) 0;
}

.table-container {
  overflow-x: auto;
}

.table__header {
  padding: 0 2rem;
}

.table__header-row {
  background-color: none;
  color: var(--font-colour-2);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.table__row {
  background-color: var(--table-row-colour);
  border: none;
  border-radius: 1rem;
  color: var(--font-colour-2);
  height: 6.5rem;
  overflow: none;
  text-align: center;
}

/* RESPONSIVE STYLES */
@media (max-width: 1200px) {
  .table-container {
    margin: 2rem;
  }
}
