.btn {
  border: none;
  border-radius: 100rem;
  color: var(--font-colour-1);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 1rem 3.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn--blur {
  transition: transform 0.2s ease-in-out;
}

.btn--primary {
  background-image: var(--linear-gradient);
}

.btn--secondary {
  background-image: var(--linear-gradient), var(--linear-gradient);
}

.btn--danger {
  background-image: var(--danger-linear-gradient), var(--danger-linear-gradient);
}

.btn--primary::before,
.btn--secondary:hover::before,
.btn--blur::before {
  background-image: var(--linear-gradient);
}

.btn--danger:hover::before {
  background-image: var(--danger-linear-gradient);
}

.btn--primary::before,
.btn--secondary:hover::before,
.btn--danger:hover::before,
.btn--blur::before {
  border-radius: inherit;
  bottom: var(--wrapper-padding);
  content: "";
  filter: blur(0.5rem);
  left: var(--wrapper-padding);
  opacity: 0.3;
  position: absolute;
  right: var(--wrapper-padding);
  top: var(--wrapper-padding);
  z-index: -1;
}

.btn:not(.btn--primary) {
  background-clip: content-box, border-box;
  background-origin: border-box;
  border: solid 1px transparent;
  box-shadow: 2px 1000px 1px var(--table-row-colour) inset;
  margin: 0.5rem;
}

.btn:hover {
  box-shadow: none;
  transform: translate(0rem, -0.2rem);
}

.btn:active {
  box-shadow: none;
  transform: translate(0rem, -0.1rem);
}

.btn--blur:active {
  transform: scale(0.97);
}

/* RESPONSIVE STYLES */

@media (max-width: 1200px) {
  .btn--log-out {
    position: absolute;
    right: 0rem;
    top: 0rem;
  }
}

@media (max-width: 600px) {
  .btn--log-out {
    font-size: 2rem;
  }
}

@media (max-width: 300px) {
  .btn--log-out {
    padding: 1rem 2rem;
  }
}
