.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__app-name {
  margin-left: 1rem;
}

.nav__link {
  color: var(--header-color);
  text-transform: uppercase;
  margin-right: 2rem;
  font-size: 1.1rem;
  text-decoration: none;
  font-family: "Lato";
  letter-spacing: 0.1rem;

  transition: color 0.2s ease-in-out;
}

.nav__link:hover {
  color: var(--first-gradient-colour);
}

.nav__logo {
  height: 5rem;
  filter: grayscale(100%) brightness(2);
  margin: 2rem 0;
}

.nav__logo-container {
  display: flex;
  align-items: center;
  color: var(--header-color);
  font-size: 3rem;
  font-family: "Secular One", "Roboto", sans-serif;
  text-transform: uppercase;
}

.nav__progress-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__progress-description {
  color: var(--light-font-color);
  font-size: 1.6rem;
}
