.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.nav__actions {
  z-index: 1; /* required for button stacking context */
}

.nav__app-name {
  margin-left: 1.5rem;
}

.nav__link {
  color: var(--font-colour-1);
  font-family: "Lato";
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-right: 2rem;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.2s ease-in-out;
}

.nav__link:hover {
  color: var(--first-gradient-colour);
}

.nav__logo {
  filter: hue-rotate(160deg) brightness(2);
  height: 5rem;
  margin: 2rem 0;
}

.nav__logo-container {
  align-items: center;
  color: var(--font-colour-1);
  display: flex;
  font-family: "Secular One", "Roboto", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.nav__progress-bar-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__progress-description {
  color: var(--font-colour-2);
  font-size: 1.6rem;
}

/* RESPONSIVE STYLES */
@media (max-width: 1200px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .nav > * {
    margin: 2rem;
  }

  .nav__progress-description {
    text-align: center;
  }

  .nav__link {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav__logo {
    margin: 1rem 0;
  }

  .nav__progress-bar-wrapper {
    flex-direction: column;
  }

  .nav__progress-bar-wrapper > * {
    margin: 1rem;
  }
}

@media (max-width: 450px) {
  .nav__logo-container {
    flex-direction: column;
    text-align: center;
  }

  .nav__actions {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .nav__link {
    margin-right: 0;
    margin-top: 2rem;
  }
}
